{% extends "ProyectoWebApp/base.html" %}

 {% load static %}

    {% block content %}
    {% for post in posts %}
     
    <section class="page-section clearfix">
       <div class="container">
         <div class="intro">
            {% if post.imagen %}
           <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{{post.imagen.url}}"  alt="" style="width: 50%">
           {% endif  %}
           <div class="intro-text left-0 text-center bg-faded p-5 rounded">
             <h2 class="section-heading mb-4" >
               <span class="section-heading-upper" style="color:rgb(211, 208, 35)">{{ post.titulo }}</span>
               <span class="section-heading-lower"></span>
             </h2>
             <p class="mb-3">{{post.contenido}}
             </p>
            <div style="text-align: left; font-size: 0.8em"  >
                  Autor: {{post.autor}} 
            </div>
           </div>
         </div>
       </div>
     </section>
    {% endfor %}
    <section>
      <div style="width: 70%; margin: auto; text-align: center; color:white">

         Categorias: &nbsp;&nbsp;
         {% for post in posts %}
            
            {%for categoria in post.categorias.all %}
            
            {{categoria.nombre}} &nbsp;&nbsp;&nbsp;

            {% endfor %}

         {% endfor %}
      </div>

    </section>
    {% endblock %}